
<h1> <%= @group.name %> Recipe Share </h1>

<% @group = params[:id] %>
<%= link_to "Add a Recipe", new_user_group_recipe_path(@user, @group) %>

<% @recipes.each do |t| %> <br>
   <h2> <%= t.title %> </h2>
   <h3> <%= t.description %> </h3>
   <p> <%= t.link %> </p>
   <p> Shared by: <%= t.user.name %> </p>
<% end %>    

<%= link_to "take me home", user_path(@user)%>